 /* Styling in About */
 /* #about::before{
    content: "";
    position: absolute;
    background: url('./background-image.jpg') no-repeat center center/cover;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 1;
  }
   */
  .container1 {
      display: flex;
      width: 70%;
      margin: auto;
      /* border: 3px solid red; */
      justify-content: center;
      align-items: center;
  }
  .container1 #image img{
    width: 350px;
    height: 350px;
    margin: 30px auto;
    position: relative;
    top: 45px;
    border-radius: 200px;
  }
 
  .container1 #about_me
  {
      /* /* border: 2px solid red; */
      width: 700px;
      height: 330px;
      font-size: 30px;
      padding: 40px 90px;
      color:rgb(208, 255, 0);
      font-weight: bold;
      margin: -10px;
      font-family: 'Nunito', sans-serif;
      /* text-align: center; */
      /* background-color: aliceblue; */
  }
  #about_me p{
    margin: 10px 10px;
  }
  
  