/* 
   animation shorthand property

   animation: animation-name  animation-duration  animation-timing-function  animation-delay  animation-iteration-count  
                               animation-fill-mode

   transition shorthand property

transition:  transition-property  transition-duration   transition-timing-function  transition-delay 
  
   transition: all 1s ease-in-out .3s
*/

